<header class="fixed top-0 left-0 w-full overflow-hidden z-50 border-b border-gray-300 md:border-0 shadow-md">
    <!-- <div class="bg-black mx-auto text-center">
        <p class="text-white font-semibold text-xs sm:text-sm tracking-wider py-1">Freeship nội thành cho đơn từ 300.000 & Freeship toàn quốc cho đơn từ 600.000</p>
    </div> -->
    <div class="flex justify-between items-center px-4 md:px-16 bg-white">
        <div (click)="showMenuMobile()" class="cursor-pointer sm:hidden" id="burger">
            <i class="uil uil-bars text-2xl"></i>
        </div>
        <div class="text-center">
            <a routerLink="/mainpage" class="text-2xl font-semibold sm:hidden" (click)="scrollTop()">Clothes world</a>
            <a routerLink="/mainpage" class="hidden sm:block" (click)="scrollTop()">
                <img src="../../assets/images/favicon/icon.png" alt="" class="w-10 h-10">
            </a>
        </div>        
        <div class="hidden sm:block" id="menu">
            <div class="flex justify-between bg-white border border-gray-200 p-5 sm:hidden">
                <a routerLink="/mainpage" class="text-2xl font-semibold">Clothes world</a>
                <i (click)="closeMenuMobile()" class="uil uil-times text-4xl cursor-pointer" id="close"></i>
            </div>
            <ul class="nav sm:flex sm:flex-row sm:justify-start sm:items-center">
                <ng-container *ngFor="let gender of genderList">
                    <li class="nav_item border border-gray-200 sm:border-0 cursor-pointer"><a class="sm:px-5 sm:py-4 p-5 block sm:p-0" (click)="onSelect(gender); scrollTop()">{{ gender.title }}</a></li>
                </ng-container>
                <li class="nav_item border border-gray-200 sm:border-0"><a class="sm:px-5 sm:py-4 p-5 block sm:p-0" routerLink="/blog" (click)="scrollTop()">Bài viết</a></li>
            </ul>
        </div>

        <div class="flex flex-row justify-start items-center">
            <div class="px-3 py-2 cursor-pointer hover:bg-gray-100" (click)="closeSearchArea()">
                <i class="uil uil-search text-2xl"></i>
            </div>
            <div class="px-3 py-2 relative cursor-pointer hover:bg-gray-100" routerLink="/cart" (click)="scrollTop()">
                <i class="uil uil-shopping-bag text-2xl"></i><span class="inline-block absolute text-xs tracking-bigger font-bold">({{ quanlityCart }})</span>
            </div>
        </div>
    </div>
</header>

<div class="hidden fixed z-50 top-[48px] sm:top-[56px] left-0 right-0 bg-white py-5" id="search-area">
    <div class="flex justify-center items-center flex-col">
        <div class="border-b border-gray-200 block w-full text-center py-5">
            <p class="uppercase font-semibold text-lg">tìm kiếm</p>
        </div>
        <div class="block w-full text-center py-5">
            <input class="w-[70%] sm:w-[50%] p-2 border border-gray-400 text-sm text-gray-500" type="text" placeholder="Tìm kiếm...">
        </div>
        <i class="uil uil-arrow-left absolute top-7 left-5 sm:left-16 text-4xl cursor-pointer" (click)="closeSearchArea()"></i>
    </div>
</div>

<router-outlet></router-outlet> 

