.bg-color{
    background-color: #f7f7f7;
}
.bg-color a{
    margin-right: 15px;
}
.ft{
    padding-top: 38px;
    margin-top: 58px;
    font-size: 12px;
    color: #acacac;
    border-top: 1px solid #bbb;
}
