<footer class="bg-color mt-3 pb-12">
    <div class="container pt-5 mx-auto px-4">
        <div class="grid gird-cols-1 gap-[24px] sm:gap-[64px] md:grid-cols-4 ">
            <div class="text-3xl">
                <p class="md:text-base text-base font-semibold text-black mb-2 uppercase">Clothes world</p>
                <p class="md:text-sm text-xs font-semibold text-gray-400 w-[80%]">Với thông điệp "Refined Life", Clothes world mong muốn đem đến cho khách hàng một lối sống tinh gọn bằng các sản phẩm thời trang tinh tế.</p>
                <a routerLink="/admin" class="text-sm text-gray-500 underline">Quản trị viên</a>
            </div>
            <div class="text-2xl">
                <p class="md:text-base font-semibold text-black mb-2 uppercase">CHI NHÁNH HÀ NỘI</p>
                <p class="md:text-sm text-xs font-semibold text-gray-400">105 - D6, ngõ 4B Đặng Văn Ngữ</p>
                <p class="md:text-sm text-xs font-semibold text-gray-400">70 Tô Hiến Thành</p>
                <p class="md:text-sm text-xs font-semibold text-gray-400">167 Cầu Giấy</p>    
                <p class="md:text-sm text-xs font-semibold text-gray-400">46 Đông Các</p>   

                <div class="mt-[24px]">
                    <p class="md:text-base font-semibold text-black mb-2 uppercase">CHI NHÁNH HỒ CHÍ MINH</p>
                    <p class="md:text-sm text-xs font-semibold text-gray-400">Lầu 1, số 25, Nguyễn Trãi, Q1</p>
                    <p class="md:text-sm text-xs font-semibold text-gray-400">152 Nguyễn Gia Trí, Bình Thạnh</p>
                </div>
            </div>
            <div class="text-2xl">
                <p class="md:text-base font-semibold text-black mb-2 uppercase">LIÊN HỆ</p>
                <p class="md:text-sm text-xs font-semibold text-gray-400">Hotline: 086 993 6266</p>
                <p class="md:text-sm text-xs font-semibold text-gray-400">Email: info@Clothesword.com</p>
            </div>
            <div class="text-2xl">
                <p class="text-base font-semibold text-black mb-2 uppercase">SOCIAL</p>
                <span class="text-2xl font-bold text-gray-600 flex mr-3 text-center">
                    <a href="https://www.facebook.com/"><i class="uil uil-facebook-f hover:opacity-60 cursor-pointer"></i></a>
                    <a href="https://www.facebook.com/"><i class="uil uil-instagram hover:opacity-60 cursor-pointer"></i></a>
                    <a href="https://www.facebook.com/"><i class="uil uil-youtube hover:opacity-60 cursor-pointer"></i></a>
                    <a href="https://www.facebook.com/"><i class="uil uil-twitter hover:opacity-60 cursor-pointer"></i></a>
                </span>
            </div>
        </div>
        <p class="ft container mx-auto">Copyright ⓒ by Clothes world</p>
    </div>

</footer>