<div class="border-top">
    <ul
        class="flex mx-auto snap-proximity snap-x  overflow-scroll w-full h-[145px] md:w-[100%] md:overflow-hidden justify-center items-center flex-cols md:px-36 md:py-10">
        <li
            class="grid snap-center justify-center flex-shrink-0 w-full p-[10px] md:w-[360px] md:p-0 h-[115px] item-center justify-items-end grid-cols-2 gap-3">
            <a class="slide-top1 slide-top"></a>
            <a routerLink="" class="">
                <i class="md:text-xs text-[10px] font-semibold text-gray-500">phát triển bản thân</i>
                <p class="md:text-lg text-base font-semibold ">5 mẹo bất hủ để bảo quản chiếc áo trắng của bạn</p>
            </a>
        </li>
        <li
            class="grid snap-center justify-center flex-shrink-0 w-full p-[10px] md:w-[360px] md:p-0 h-[115px] item-center justify-items-end grid-cols-2 gap-3">
            <a class="slide-top2 slide-top"></a>
            <a routerLink="" class="">
                <i class="md:text-xs text-[10px] font-semibold text-gray-500">phát triển bản thân</i>
                <p class="md:text-lg text-base font-semibold ">5 mẹo bất hủ để bảo quản chiếc áo trắng của bạn</p>
            </a>
        </li>
        <li
            class="grid snap-center justify-center flex-shrink-0 w-full p-[10px] md:w-[360px] md:p-0 h-[115px] item-center justify-items-end grid-cols-2 gap-3">
            <a class="slide-top3 slide-top"></a>
            <a routerLink="" class="">
                <i class="md:text-xs text-[10px] font-semibold text-gray-500">phát triển bản thân</i>
                <p class="md:text-lg text-base font-semibold">5 mẹo bất hủ để bảo quản chiếc áo trắng của bạn</p>
            </a>
        </li>
    </ul>
</div>
<div class="container mx-auto py-16 px-3 lg:px-56">
    <p class="md:text-[53px] text-[20px] lg:px-10 px-3 font-semibold uppercase ">6 BÍ QUYẾT PHỐI MÀU GIÚP OUTFIT CỦA BẠN TRỞ NÊN NỔI BẬT HƠN</p>
    <span class="flex grid-cols-2 gap-3 pt-12">
        <span class="author-i4"></span>
        <span>
            <p class="text-lg font-semibold">Dũng Nguyễn</p>
            <p class="text-sm font-semibold text-gray-500">Content Creator</p>
        </span>
    </span>
    <span class="banner-aricle mt-8"
        style="background-image: url(../../../assets/images/main-page/ssstory/1644568834577.jpeg)">
    </span>
    <span class="font-medium m-2">
        <p class="text">BỎ TÚI 6 BÍ QUYẾT PHỐI MÀU GIÚP ỌUTFIT CỦA BẠN NỔI BẬT HƠN</p>
        <p class="mt-3">Tổng quan về kiến thức màu sắc & phối đồ: Phối đồ không chỉ mang vẻ đẹp nghệ thuật nhưng điều đó
            còn mang tính khoa học.
            Dựa trên Bánh xe màu sắc được phát minh bởi Isaac Newton với 7 màu sắc cơ bản đó là:
            đỏ, cam, vàng, lục, lam, chàm, tím. Hãy cùng tìm hiểu và biến outfit của bạn trở nên độc đáo hơn nhé!</p>
        <span class="">
            <img class="bg-gray-200 blog-content p-2" src="../../../assets/images/blog/01.jpeg" alt="01">
        </span>
        <p class="mt-3">Da người được chia làm 2 trường phái sắc tố đó là: sắc tố da ấm và sắc tố da lạnh. Với sắc tố da
            ấm - warm undertone thì bạn nên chọn những trang phục có màu sắc ấm áp như màu đỏ, vàng, cam, hồng đào.
            Ngược lại, với các bạn có sắc tố da lạnh - cool undertone thì nên chọn các items có màu như xanh ngọc, xanh
            biển…</p>
        <span class="">
            <img class="bg-gray-200 blog-content p-2" src="../../../assets/images/blog/02.jpeg" alt="01">
        </span>
        <p class="my-3">Ngược lại, với các bạn có sắc tố da lạnh - cool undertone thì nên chọn các items có màu như xanh
            ngọc, xanh biển…</p>
        <span class="">
            <img class="bg-gray-200 blog-content p-2" src="../../../assets/images/blog/03.jpeg" alt="01">
        </span>
        <p class="my-3">Các trang phục có tông màu nóng như đỏ, cam, vàng... sẽ tăng kích thích thị giác, khiến những
            người khác dễ chú ý tới bạn. Ngoài ra, việc mặc những bộ đồ màu nóng sẽ giúp bạn có cảm giác vóc dáng thon
            gọn hơn bình thường.</p>
    </span>
    <span class="">
        <img class="bg-gray-200 blog-content p-2" src="../../../assets/images/blog/04.jpeg" alt="01">
    </span>
</div>