<section class="page_404">
    <div class="container mx-auto">
      <div class="row"> 
      <div class="col-sm-12 ">
      <div class="col-sm-10 col-sm-offset-1  text-center">
      <div class="four_zero_four_bg">
        <h1 class="text-center ">404</h1>
      </div>
      <div class="contant_box_404">
      <p class="font-bold text-xl">
        Giống như bạn đang bị lạc 
      </p>
      
      <p>Trang bạn đang tìm kiếm không có sẵn!</p>
      
      <div (click)="routingBackToMenu()" class="mt-5 px-5 py-[10px] bg-blue-700 text-white inline-block cursor-pointer hover:opacity-60">Quay về trang chủ</div>
    </div>
      </div>
      </div>
      </div>
    </div>
  </section>