<div class="pt-12">
    <section class="container mx-auto md:px-36 grid px-6 gap-11 grid-cols-3">
        <div class="md:text-xl text-base uppercase text-center font-medium">
            <a (click)="routingDetail()">
                <span class="ssstory_1 ssstory hover:opacity-50"></span>
            </a>
            <a (click)="routingDetail()">
                <span class="hover:text-gray-500 ">
                    <h2 class="titleBlogs md:hidden text-sm">6 Bí quyết giúp outfit của bạn trở nên nổi bật hơn</h2>
                    <h2 class="hidden md:block">6 Bí quyết giúp outfit của bạn trở nên nổi bật hơn</h2>
                </span>
            </a>
        </div>
        <div class="md:text-xl text-base text-center font-medium">
            <a (click)="routingDetail()">
                <span class="ssstory_2 ssstory hover:opacity-50"></span>
            </a>
            <a (click)="routingDetail()">
                <span class="hover:text-gray-500 ">
                    <h2 class="titleBlogs md:hidden text-sm">Những items làm từ vải Linen mà bạn không thể bỏ qua</h2>
                    <h2 class="hidden md:block">Những items làm từ vải Linen mà bạn không thể bỏ qua</h2>
                </span>
            </a>
        </div>
        <div class="md:text-xl text-base text-center font-medium">
            <a (click)="routingDetail()">
                <span class="ssstory_3 ssstory hover:opacity-50"></span>
            </a>
           <a (click)="routingDetail()">
                <span class="hover:text-gray-500">
                    <h2 class="titleBlogs md:hidden text-sm">6 mẹo giúp tăng tuổi thọ của quần áo hơn 3 năm</h2>
                    <h2 class="hidden md:block">6 mẹo giúp tăng tuổi thọ của quần áo hơn 3 năm</h2>
                </span>
            </a>
        </div>
    </section>
    <section class="p-2 category mt-5 md:mt-36 mb-8 md:mb-16 text-center md:px-36">
        <span class="text-lg md:mb-1 md:mt-2 md:text-3xl font-semibold uppercase cursor-pointer"><h2 class="pb-3 md:pt-10">Danh mục</h2></span>
        <ul class="grid grid-cols-2 gap-4 md:pb-16 md:gap-10 md:mt-14 md:mb-14 md:grid-cols-4">
            <li class="font-semibold text-sm md:text-base text-gray-400 ">
                <a routerLink="">
                    <span class="category-list category-list-1 mb-2">     
                    </span>
                </a>
                <a routerLink="">tình cảm</a>
            </li>
            <li class="font-semibold text-sm md:text-base text-gray-400">
                <a routerLink="">
                    <span class="category-list category-list-2 mb-2">     
                    </span>
                </a>
                <a routerLink="">quản lí tài chính</a>
            </li>
            <li class="font-semibold text-sm md:text-base text-gray-400">
                <a routerLink="">
                    <span class="category-list category-list-3 mb-2">     
                    </span>
                </a>
                <a routerLink="">phát triển bản thân</a>
            </li>
            <li class="font-semibold text-sm md:text-base text-gray-400">
                <a routerLink="">
                    <span class="category-list category-list-4 mb-2">     
                    </span>
                </a>
                <a routerLink="">Công việc & sự nghiệp</a>
            </li>
        </ul>
    </section>
    <section class="container mx-auto md:px-[20rem] px-6 pb-5 md:pb-16">
        <ul class="flex justify-center items-center flex-col "> 
            <li class="grid grid-cols-2 gap-5">
                <a href="" class="flex"><span class="category-list-6 category-list-story "></span></a>
                <a routerLink="" class="md:mt-6 xl:mt-1">
                    <i class="md:text-sm text-xs font-semibold text-gray-500">phát triển bản thân</i>
                    <p class="md:text-xl text-sm font-semibold mt-1">5 mẹo bất hủ để bảo quản chiếc áo trắng của bạn</p>
                </a>
            </li>
            <li class="grid grid-cols-2 gap-5 mt-10 ">
                <a href="" class="flex"><span class="category-list-5 category-list-story "></span></a>
                <a routerLink="" class="md:mt-6 xl:mt-1">
                    <i class="md:text-sm text-xs font-semibold text-gray-500">phát triển bản thân</i>
                    <p class="md:text-xl text-sm font-semibold mt-1">Gợi Ý 7 Outfits Siêu Đơn Giản Cho Tuần Mới Của Bạn</p>
                </a>
            </li>
        </ul>
    </section>
</div>
