// @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.icon-badge {
    @apply relative after:content-[''] after:h-2 after:w-2 after:rounded-full after:bg-red-600 after:absolute after:top-2 after:left-4
}

.tab-title.active {
    @apply text-blue-600
}

#authentication-modal,
#order-modal {
    background-color: rgba(0,0,0,0.5);
}

.image-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: spin 1s infinite linear forwards;
    width: 50px;
    height: 50px;
    border: 5px solid #6A5AF9;
    border-right: 5px solid transparent;
    border-radius: 50%;
  }
  
@keyframes spin {
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}

button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.test {
    color:red;
}