<div class="flex justify-center items-center py-5">
    <div class="px-[24px] py-[24px] w-auto md:min-w-[400px] border border-gray-300 shadow-2xl">
        <div class="text-center mb-10">
            <img src="../../assets/images/checked.png" alt="" class="mx-auto w-[30%] md:w-[50%] mb-3">
            <p class="text-blue-700 text-xl md:text-2xl">Cảm ơn bạn đã đặt hàng</p>
            <!-- <p class="text-blue-700">Chúng tôi sẽ liên hệ với bạn ngay sau khi duyệt đơn hàng</p> -->
        </div>
        <div class="mb-10">
            <p class="mb-3 text-blue-600 text-base md:text-lg">Tóm tắt thanh toán</p>
            <div class="border-t border-gray-400 border-dashed py-3">
                <div class="cart_item flex justify-between mb-2 text-base" *ngFor="let item of cartList">
                    <p class="w-[60%]">{{ item.name | titlecase }} (Qty: {{ item.quanlity }})</p>
                    <p class="text-left">{{ item.price | currency:'VND' }}</p>
                </div>

                <div class="mt-5">     
                    <div class="flex justify-between">
                        <p>Phí vận chuyển</p>
                        <p class="text-left">₫0</p>
                    </div>
                    <div class="flex justify-between font-bold text-lg">
                        <p>Tổng tiền</p>
                        <p class="text-left">{{ totalPrice | currency:'VND' }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <div class="px-5 py-[10px] bg-blue-700 text-white block md:inline-block cursor-pointer hover:opacity-60" (click)="routingBackToMenu()">Quay lại cửa hàng</div>
        </div>
    </div>
</div>
